body {
  margin: 0;
  background-color: black;
  /* put a @media on this to resize main hero image. This is a shortcut to avoid dependency error on load because I'm using a file image, possibly a url src wouldn't throw this error.  */

}
.container1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  background-color: white;
}
.wrapper{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end:3;
  z-index: 2;
  margin:20px;
  height:200px;
  width: 300px;
  background-color: #8caac2;
  opacity: 80%;
}
.title{
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: #41396e;
  padding:20px;
}
.subtitle{
  font-family: 'Quicksand', sans-serif;
  color:#656a6e;
  font-size:20px;
  padding: 10px;
}
/* by using the same starting point on the grid the elements are forced to overlap. just make sure to use a z index. */
.private-wrapper{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

  height: 300px;
  width: 400px;
  background-color: aqua;
}
.private-text{
  display: grid;
  color:black;
  font-size:30px;
  z-index: 2;
  justify-items: center;
  align-items: center;
}
.soundbath{
  height: 500px;
  width:350px;
  background-color: bisque;
}
.classes-card{
  height: 300px;
  width: 300px;
  background-color: aliceblue;
}





code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
